!!! 5
%html
  %head
    %title flux_tutorial
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = csrf_meta_tags
  %body
    %head
      - if signed_in?
        .header
          %ul.headerlist
            -# クラス名はドットを使って書く
            -# %li.logo
            %li{class: "logo"}= link_to 'SAMPLE APP',root_path, data: {no_turbolink: true}
            %li= link_to 'ユーザーを検索する', search_users_path, data: {no_turbolink: true}
            %li= link_to '編集', edit_user_registration_path
            -# ログアウトはシングルクォートで囲む
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link', data: { confirm: "本当にログアウトしますか？" }
            -# aタグではなくlink_toを使おう
            %a{class: "profile profileimg"}=  gravatar_for current_user
            %a{class: "profile"}= link_to current_user.name , user_path(current_user), data: {no_turbolink: true}


    = yield
